@media (min-width: 600px) {
	body {
		background: green;
	}
	#container > div{
		width:600px;
	}
}

#container {
	height:988px;
}

#container > div{
	/* width:600px; */
	background-color: #ffffff;
	margin-left:auto;
	margin-right:auto;
}

#gbkMainAnimationTab {
	height: 266.67px;
	margin-bottom:16.67px;
}

#gbkMainBoard {
	height:722.23px;
}