#container {
	min-height:988px;
}

#container > div{
	/* width:600px; */
	background-color: #ffffff;
	margin-left:auto;
	margin-right:auto;
}
#gbkMainAnimationContainer{
	height: 266.67px;
}

#gbkMainAnimationTab {
	display: grid;
	grid-template-areas: "mainTab1 mainTab2"
						 "mainAni  mainAni";
	grid-template-columns: 1fr 1fr;
	
	padding:13.33px 33.33px 0 33.33px;
	height: 266.67px;
}

#gbkMainAnimationTab > div {
	align-content: center;
	text-align: -webkit-center;
	letter-spacing: -1px;
	cursor: pointer;
}

.activeTab{
	color:#333A40 !important;
	border-bottom: 3.33px solid #333A40;
}

.activeTab>.decrease_image{
	content:url(../images/decrease.png);
	opacity:1 !important;
}

.activeTab>.oldman_image{
	content:url(../images/old_man.png);
	opacity:1 !important;
}

#gbkMainDecrease:hover, #gbkMainOld:hover{
	color:#333A40;
}

#gbkMainAnimationTab > div:hover .decrease_image{
	content:url(../images/decrease.png);
	opacity:1;
}

#gbkMainAnimationTab > div:hover .oldman_image{
	content:url(../images/old_man.png);
	opacity:1;
}

#gbkMainDecrease{
	font-size:25px;
	font-weight: 700;
	color:#848A92;
	grid-area:mainTab1;
}

.decrease_image{
	width: 27px;
}

#gbkMainOld{
	font-size:25px;
	font-weight: 700;
	color:#848A92;
	grid-area:mainTab2;
}

.oldman_image{
	width: 23px;
}

#gbkMainAnimationDecreaseContainer{
	display:none;
	grid-area: mainAni;
	width:532.33px;
	height:120px;
	margin: auto;
}

#gbkMainAnimationDecrease{
	display:none;
    width:100%;
 	height:100%;
  	stroke-width:16.668px;
  	vector-effect:non-scaling-stroke;
  	fill:none;
}

#gbkMainAnimationDecrease>path{
	d: path(
    "M 266.165 0 L 0 0 L 0 120 L 532.33 120 L 532.33 0 L 266.165 0"
  );
}
.rectPath{
	stroke-dasharray: 1304.66;
	stroke-dashoffset: 1304.66;
	animation: draw 3s linear infinite;
	transform-origin: center;
	transform: scale(-1, 1);
}

.gbkMainAnimationDecreaseText{
	fill:#E5483D;
	font-size: 75px;
	font-weight: 700;
	letter-spacing: -1px;
  	text-anchor:middle;
  	alignment-baseline:middle; 
  	transform:translate(50%,68.334px);
}
@keyframes draw {
	0% {
		stroke-dasharray: 1304.66 0;
	}
	100% {
		stroke-dasharray: 0 1304.66;
	}
}

#gbkMainAnimationOld{
	display:none;
	grid-area: mainAni;
	color:#E5483D;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: -1.25px !important;
	width: 532.33px;
	height: 120px;
}

.smallText{
	font-size:33.33px;
}

.activeAnimation{
	display:block !important;
}

#gbkMainBoard {
	height:722.23px;
}
#gbkMainBoardTitle{
	height: 40px;
	padding:40px 23.33px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	font-weight: 700;
	letter-spacing: -1.25px;
}

#boardTitleBox{
	font-size: 25px;
	justify-self: left;
}

#boardMoreBox{
	font-size: 21.67px;
	justify-self: right;
}

.Joan-Wiliams{
	padding: 0 23.33px;
	cursor:pointer;
}

#modalContainer{
	width: 100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	background:rgba(0,0,0,0.4);
}

.mainModal{
	position: fixed;
	display:none;
	bottom: 0;
	width:573.33px;
	background-color: #ffffff;
	z-index: 1;
	transform: translate(-50%,0);
    left: 50%;
	border-radius:41.67px;
	height:600px;
	font-weight: 700;
}

.modalSubTitle{
	height:93.33px;
	font-size:25px;
	letter-spacing: -1px;
	padding:0 33.33px;
}
.modalSubTitleText{
	padding-top:33.33px;
}

.modalContents{
	font-size:20px;
	letter-spacing: -1.25px;
	line-height: 40px;
}

.modalContentsText{
	padding:0 28.33px;
}

.modalContentsRedText{
	display:inline;
	color:#E5483D;
}

.modalConfirmButton{
	position:fixed;
	width:520px;
	height:93.33px;
	border-radius: 25px;
	background-color: #D5DBE3;
	place-content: center;
    text-align: center;
	transform: translate(-50%);
    left: 50%;
	top:480px;
	font-size:28.33px;
	font-weight:700;
	cursor:pointer;
}

.activeModal{
	display:block;
}


@media (max-width: 600px) {
	#container {
		height: 164.6667vw !important;
	}

	#container > div{
		width:100%;
	}
	
	#gbkMainAnimationContainer{
		height: 44.4450vw;
	}

	#gbkMainAnimationTab{
		padding:2.2217vw 5.5550vw 0 5.5550vw;
		height: 44.4450vw;
	}

	#gbkMainAnimationTab > div {
		letter-spacing: -0.1667vw;
	}
	#gbkMainDecrease{
		font-size: 4.1667vw;
	}
	.decrease_image{
		width: 4.5vw;
	}

	.activeTab{
		border-bottom: 0.5550vw solid #333A40;
	}

	#gbkMainOld{
		font-size: 4.1667vw;
	}

	.oldman_image{
		width: 3.8333vw;
	}
	
	#gbkMainAnimationDecreaseContainer{
		width:88.7217vw;
		height:20vw;
	}
	
	#gbkMainAnimationDecrease{
		stroke-width:2.7780vw;
	}
	
	#gbkMainAnimationOld{
		font-size: 11.6667vw;
		letter-spacing: -0.2083vw !important;
		width:88.7217vw;
		height:20vw;
	}
	
	.smallText{
		font-size:5.5550vw;
	}
	#gbkMainBoard{
		height: 120.3717vw;
	}

	#gbkMainBoardTitle{
		height: 6.6667vw;
		padding: 6.6667vw 3.8889vw;
		letter-spacing: -0.2083vw;
	}

	#boardTitleBox{
		font-size: 4.1667vw;
	}
	
	#boardMoreBox{
		font-size: 3.6117vw;
	}
	.Joan-Wiliams{
		padding: 0 3.8889vw;
	}
	.mainModal{
		width: 94.4450vw;
	}
}