<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbk1021.gbk.mapper.UserMapper">
    <!-- 사용자 목록 조회 -->
    <select id="getAllUsers" resultType="com.gbk1021.gbk.dto.User">
        SELECT * FROM gbk.gbk_board_user
    </select>

</mapper>